page-home {
    .button {
        min-height: 50px !important;
        margin: 25px 7.5vw;
        &:first-child {
          margin: 25px 7.5vw 25px;  
        }
        width: 85vw;
    }

    ion-icon {
        &.first {
            position: absolute;
            right: 27%;
            font-size: 40px !important;
            overflow: visible;
            width:100%;
        }

        &.second {
            position: absolute;
            right: 23%;
            font-size: 40px !important;
            overflow: visible;
            width:100%;
        }
    }
}

